{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> MetaData - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/metadata.css' %}">
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/metadata.js' %}"></script>
	{% block head_scripts %}
	{% endblock %}
</head>
<body>
	<header id="header">
		<a class="metadata" href="{% url "dashboard" %}" >MetaData</a>
		<nav>
			<a id="dashboard-link" class="menu-option" href="{% url "dashboard" %}">Dashboard</a>
			<a id="projects-link" class="menu-option" href="{% url "projects" %}">Projects</a>
			<a id="calendar-link" class="menu-option" href="{% url "calendar" %}">Calendar</a>
			<a id="settings-link" class="menu-option" href="{% url "settings" %}">Settings</a>
		</nav>
		<a class="logout" href="{% url "logout" %}">
			<span class="glyphicon glyphicon-remove-circle"></span>
			Logout
		</a>
	</header>
	<div id="container">
		{% block page_content %}
		{% endblock %}
	</div>
</body>
</html>