{% extends "base_page.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Dashboard{% endblock %}
{% block head_scripts %}
	<script>
		$(document).ready(function() {
			$('#dashboard-link').addClass('selected');
		});
	</script>
{% endblock %}
{% block page_content %}
	<section id="activity-container">
		<header>Recent Actity</header>
		<div class="action-list">
		{% for action in actions %}
			<div class="action">
				<div class="action-icon">
					{% if action.action == "updated logs" %}
						<span style="color:green;" class="glyphicon glyphicon-pencil"></span>
					{% endif %}
					{% if action.action == "updated project details" %}
						<span style="color:orange;" class="glyphicon glyphicon-folder-open"></span>
					{% endif %}
					{% if action.action == "updated files" %}
						<span style="color:lightgray;" class="glyphicon glyphicon-file"></span>
					{% endif %}
				</div>
				<div class="action-details">
						<strong class="user">{{ action.user.first_name }} {{ action.user.last_name }}</strong>
					{{ action.action }} for <strong class="project">{{ action.project }}</strong> 
					<div class="date">{{ action.date | naturaltime }}</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}