section#activity-container {
  position: relative;
  top: 20px;
  left: 20px;
  height: calc(100% - 40px);
  width: 340px;
}
section#activity-container header {
  font-weight: 600;
  font-size: 18px;
}
section#activity-container div.action {
  font-size: 13px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
section#activity-container div.action div.action-icon {
  display: inline-block;
  float: left;
  width: 18px;
  margin-right: 5px;
}
section#activity-container div.action div.action-details {
  display: inline-block;
  width: 312px;
}
section#activity-container div.action div.action-details strong.user {
  color: blue;
}
section#activity-container div.action div.action-details strong.project {
  color: #F76969;
}
